<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Locked Note - Notepad</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="app-shell">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="main-content">
        <div class="page-container">
            <h1>🔒 Password Required</h1>
            <p th:if="${error}" th:text="${error}" class="error-message"></p>
            <form th:action="@{'/notes/unlock/' + ${noteId}}" method="post">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required autofocus>
                <br><br>
                <div class="btn-row">
                    <button type="submit" class="btn">Unlock</button>
                    <a th:href="@{/notes}" class="btn">Back to Notes</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/theme.js}"></script>
</body>
</html>